@media(min-width: 740px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
    nav a{
        flex: 1 1 100%;
    }
    nav a:hover{
    background-color: #110642;
    border-radius: 7px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 220px);
        justify-content: center;
        text-align: center;
        color: var(--main-color);
        
    }
    main h1{
        text-align: center;
    }
    #hamburguer{
        display: none;
    }
}