@media screen and (min-width:500px) {
    header.media_query{
         background-color: black;
         color: #ffffff;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}